@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #007c7e;
    --second-color: #EFEFEF;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-none-color: #ccc;
    --header-height: 85px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    line-height: normal;
    text-decoration: none;
}