.Footer {
    background: #fff;
    color: #007C7E;
    padding: 2rem 0;
    margin-top: 0.1rem;

}

.Footer h3 {
    color: red;
    font-size: 22px;
}


.ft-1 h3 {
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.5rem 0;
}

.footer-logo {
    color: red;
}

.ft-1 p {
    color: #007C7E;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: capitalize;
}

.footer-icon a {
    padding-right: 2rem;
    color: #007C7E;
    margin-bottom: 2rem;

    
}

.footer-icon a:hover {
    color: #ea5d5e;
    transform: 0.3s;
    cursor: pointer;
}

.ft-2 ul {
    list-style: none;
    padding-left: 0;
}

.ft-2 ul li {
    padding: 0.4rem 0;
    font-weight: 500;
}

.ft-2 ul a {
    text-decoration: none;
    color: #007C7E;
}

.ft-2 a:hover {
    color: #ea5d5e;
}



.ft-3 p {
    color: #000;
    font-weight: 500;
    padding: 0.1rem 0;
}

.ft-3 a {
    color: #007C7E;
    font-weight: 500;
    padding-left: 0.7rem;

}


.ft-3 a:hover {
    color: #ea5d5d;
}

.footer-contact {
    line-height: 2.25;
}

.footer-bottom {
    background: #fffefe;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #9d9d9d;
}

.ft-4 {
    color: #007C7E;
}

.footer-contact i{
    color:#007C7E;
}